@{
    var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Mohammed" />
    <meta name="description" content="Welcome to Mohammed Portfolio showing projects, skills and services" />
    <title>@ViewData["Title"] - Mohammed | Portfolio</title>

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="~/img/m-icon.png">
    <link rel="apple-touch-icon" type="image/png" href="~/img/touch-icon.png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Vendor CSS -->
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/vendor/aos/aos.css" rel="stylesheet" />
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />

    <!-- Main CSS -->
    <link href="~/css/main.css" rel="stylesheet" />
</head>

<body class="index-page">

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center light-background sticky-top">
        <div class="container d-flex align-items-center justify-content-between">

            <!-- ======= Navigation ======= -->
            <nav id="navmenu" class="navmenu">
                <ul class="list-unstyled mb-0">
                    <li class="me-3"><a asp-controller="Home" asp-action="Index" class="@(currentAction == "Index" ? "active" : "")">Home</a></li>
                    <li class="me-3"><a asp-controller="Home" asp-action="Service" class="@(currentAction == "Service" ? "active" : "")">Service</a></li>
                    <li class="me-3"><a asp-controller="Home" asp-action="Portfolio" class="@(currentAction == "Portfolio" ? "active" : "")">My Projects</a></li>
                    <li class="me-3"><a asp-controller="Home" asp-action="Contact" class="@(currentAction == "Contact" ? "active" : "")">Contact Me</a></li>
                    <li><a asp-controller="Home" asp-action="About" class="@(currentAction == "About" ? "active" : "")">About</a></li>
                </ul>

                <!-- Mobile Menu Toggle -->
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <!-- ======= Social Links ======= -->
            <div class="header-social-links d-flex align-items-center">
                <a href="https://github.com/manmohammad57-hub" target="_blank" class="me-2"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/mohammad-binsalman-309a00322/" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>

        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Main ======= -->
    <main class="main">
        @RenderBody()
    </main>
    <!-- End Main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer text-center">
        <div class="container">
            <p>© <strong>Mohammed BinSalman</strong> All Rights Reserved</p>
            <div class="social-links d-flex justify-content-center">
                <a href="https://github.com/manmohammad57-hub" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/mohammad-binsalman-309a00322/" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- ======= Scroll Top ======= -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- ======= Preloader ======= -->
    <div id="preloader"></div>

    <!-- ======= JS Files ======= -->
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/vendor/typed.js/typed.umd.js"></script>
    <script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
